* { 
    margin: 0px;
    padding: 0px;
}
 
body { 
    display: flex;
    align-items: center;
    position: fixed;
}
.container { 
    display: flex; 
    align-items: center;
    position: fixed;
    height: 500px;
    width: 60px;
    color: red;
    background-color: black;
}
h2 { color: red;}